<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @attendance.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @attendance.date %>
</p>

<p>
  <b>Is attending:</b>
  <%= @attendance.is_attending %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
